# 3.  Index
- 데이터에 접근할 수 있는 주소 값

In [1]:
import pandas as pd
data = {
    "이름" : ["탄지로","이노스케","젠이츠","네즈코","무잔","코쿠시보","도우마","아카자"],
    "소속" : ["귀살대","귀살대","귀살대","귀살대","오니","오니","오니","오니"],
    "기술" : ["해의호흡","짐승의호흡","번개의호흡","폭혈","촉수공격","달의호흡","빙결","무술"],
     '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df=pd.DataFrame(data, index=["1번","2번","3번","4번","5번","6번","7번","8번"])
df

      이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
1번   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번   네즈코  귀살대     폭혈  187   40   60   70  75  80
5번    무잔   오니   촉수공격  188   15   20   10  35  10
6번  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번   아카자   오니     무술  190  100   85   90  95  95          C#

In [2]:
# 인덱스 확인
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

# index 이름 설정

In [5]:
df.index.name = "지원번호"
df

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80
5번      무잔   오니   촉수공격  188   15   20   10  35  10
6번    코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번     도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190  100   85   90  95  95          C#

### index 초기화

In [7]:
df.reset_index()

  지원번호    이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   1번   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1   2번  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   3번   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   4번   네즈코  귀살대     폭혈  187   40   60   70  75  80
4   5번    무잔   오니   촉수공격  188   15   20   10  35  10
5   6번  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   7번   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   8번   아카자   오니     무술  190  100   85   90  95  95          C#

In [8]:
df.reset_index(drop=True) # 원래 스던 인덱스 삭제

     이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   네즈코  귀살대     폭혈  187   40   60   70  75  80
4    무잔   오니   촉수공격  188   15   20   10  35  10
5  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   아카자   오니     무술  190  100   85   90  95  95          C#

In [10]:
df.reset_index(drop=True,inplace=True) # 실제 데이터에 바로 반영

In [11]:
df

     이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   네즈코  귀살대     폭혈  187   40   60   70  75  80
4    무잔   오니   촉수공격  188   15   20   10  35  10
5  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   아카자   오니     무술  190  100   85   90  95  95          C#

### index 설정 
- 지정한 컬럼으로 인덱스 설정

In [12]:
df.set_index("이름")

       소속     기술    키   국어   영어   수학  과학  사회        SW특기
이름
탄지로   귀살대   해의호흡  197   90   85  100  95  85      Python
이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
젠이츠   귀살대  번개의호흡  168   80   75   70  80  75  Javascript
네즈코   귀살대     폭혈  187   40   60   70  75  80
무잔     오니   촉수공격  188   15   20   10  35  10
코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
도우마    오니     빙결  188   55   65   45  40  35      PYTHON
아카자    오니     무술  190  100   85   90  95  95          C#

In [13]:
df.set_index("이름",inplace=True)
df

       소속     기술    키   국어   영어   수학  과학  사회        SW특기
이름
탄지로   귀살대   해의호흡  197   90   85  100  95  85      Python
이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
젠이츠   귀살대  번개의호흡  168   80   75   70  80  75  Javascript
네즈코   귀살대     폭혈  187   40   60   70  75  80
무잔     오니   촉수공격  188   15   20   10  35  10
코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
도우마    오니     빙결  188   55   65   45  40  35      PYTHON
아카자    오니     무술  190  100   85   90  95  95          C#

### index 정렬
- 내림차순/오름차순으로 정렬

In [14]:
df.sort_index()   # 인덱스로 오름차순 정렬

       소속     기술    키   국어   영어   수학  과학  사회        SW특기
이름
네즈코   귀살대     폭혈  187   40   60   70  75  80
도우마    오니     빙결  188   55   65   45  40  35      PYTHON
무잔     오니   촉수공격  188   15   20   10  35  10
아카자    오니     무술  190  100   85   90  95  95          C#
이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
젠이츠   귀살대  번개의호흡  168   80   75   70  80  75  Javascript
코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
탄지로   귀살대   해의호흡  197   90   85  100  95  85      Python

In [15]:
df.sort_index(ascending=False)    # 내림차순 정렬

       소속     기술    키   국어   영어   수학  과학  사회        SW특기
이름
탄지로   귀살대   해의호흡  197   90   85  100  95  85      Python
코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
젠이츠   귀살대  번개의호흡  168   80   75   70  80  75  Javascript
이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
아카자    오니     무술  190  100   85   90  95  95          C#
무잔     오니   촉수공격  188   15   20   10  35  10
도우마    오니     빙결  188   55   65   45  40  35      PYTHON
네즈코   귀살대     폭혈  187   40   60   70  75  80