# 2. DataFrame
- 2차원 데이터 (Series들의 모임)

### Data준비
- 사전 (dict) 자료구조를 통해 생성 
- 예시 : 귀멸의 칼날 인물 8명에 대한 데이터

In [3]:
data = {
    "이름" : ["탄지로","이노스케","젠이츠","네즈코","무잔","코쿠시보","도우마","아카자"],
    "소속" : ["귀살대","귀살대","귀살대","귀살대","오니","오니","오니","오니"],
    "기술" : ["해의호흡","짐승의호흡","번개의호흡","폭혈","촉수공격","달의호흡","빙결","무술"],
     '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

In [12]:
import pandas as pd
df = pd.DataFrame(data)
df

     이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   네즈코  귀살대     폭혈  187   40   60   70  75  80
4    무잔   오니   촉수공격  188   15   20   10  35  10
5  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   아카자   오니     무술  190  100   85   90  95  95          C#

In [13]:
# 데이터 접근  df['칼럼 명']
df['이름']

0     탄지로
1    이노스케
2     젠이츠
3     네즈코
4      무잔
5    코쿠시보
6     도우마
7     아카자
Name: 이름, dtype: object

In [15]:
# 2개 이상의 칼럼 데이터 접근 -- > 리스트로 감싼 형태로 전달 
df[["이름","기술"]]

     이름     기술
0   탄지로   해의호흡
1  이노스케  짐승의호흡
2   젠이츠  번개의호흡
3   네즈코     폭혈
4    무잔   촉수공격
5  코쿠시보   달의호흡
6   도우마     빙결
7   아카자     무술

### DataFrame 객체 생성 (index 지정)
- 인덱스 갯수가 안맞으면 에러가 발생함

In [17]:
df=pd.DataFrame(data, index=["1번","2번","3번","4번","5번","6번","7번","8번"])
df

      이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
1번   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번   네즈코  귀살대     폭혈  187   40   60   70  75  80
5번    무잔   오니   촉수공격  188   15   20   10  35  10
6번  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번   아카자   오니     무술  190  100   85   90  95  95          C#

### DataFrame 객체 생성 ( columns 지정)
- 원하는 데이터 컬럼만 선택하거나 순서를 변경

In [19]:
df = pd.DataFrame(data, columns=["이름","키","기술"])
df

     이름    키     기술
0   탄지로  197   해의호흡
1  이노스케  184  짐승의호흡
2   젠이츠  168  번개의호흡
3   네즈코  187     폭혈
4    무잔  188   촉수공격
5  코쿠시보  202   달의호흡
6   도우마  188     빙결
7   아카자  190     무술