# 4. 파일 저장 및 열기 
- DataFrame을 Excel, csv, txt 형태의 파일로 저장 및 열기

In [3]:
import pandas as pd
data = {
    "이름" : ["탄지로","이노스케","젠이츠","네즈코","무잔","코쿠시보","도우마","아카자"],
    "소속" : ["귀살대","귀살대","귀살대","귀살대","오니","오니","오니","오니"],
    "기술" : ["해의호흡","짐승의호흡","번개의호흡","폭혈","촉수공격","달의호흡","빙결","무술"],
     '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

df=pd.DataFrame(data, index=["1번","2번","3번","4번","5번","6번","7번","8번"])
df.index.name="지원번호"
df

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80
5번      무잔   오니   촉수공격  188   15   20   10  35  10
6번    코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번     도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190  100   85   90  95  95          C#

In [9]:
# 저장하기 - csv파일로 ( 한글 : encoding="utf-8-sig" ) 
df.to_csv("score.csv",encoding="utf-8-sig", index=False)

In [10]:
 # 저장하기 -txt파일로 ( 탭으로 구분된 텍스트 파일 )
 df.to_csv("score.txt",sep="\t")

In [11]:
# 저장하기 - excel파일로 
df.to_excel("score.xlsx")

In [15]:
 # 열기 - csv파일 열기 
 pd.read_csv("score.csv")

     이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
4    무잔   오니   촉수공격  188   15   20   10  35  10         NaN
5  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   아카자   오니     무술  190  100   85   90  95  95          C#

In [16]:
# 지정된 갯수만큼의 row를 건너띔
pd.read_csv("score.csv",skiprows=1)

    탄지로  귀살대   해의호흡  197   90   85  100  95  85.1      Python
0  이노스케  귀살대  짐승의호흡  184   40   35   50  55    25        Java
1   젠이츠  귀살대  번개의호흡  168   80   75   70  80    75  Javascript
2   네즈코  귀살대     폭혈  187   40   60   70  75    80         NaN
3    무잔   오니   촉수공격  188   15   20   10  35    10         NaN
4  코쿠시보   오니   달의호흡  202   80  100   95  85    80           C
5   도우마   오니     빙결  188   55   65   45  40    35      PYTHON
6   아카자   오니     무술  190  100   85   90  95    95          C#

In [17]:
# 지정된 1,3,5 row를 건너띔
pd.read_csv("score.csv",skiprows=[1,3,5])

     이름   소속     기술    키   국어   영어  수학  과학  사회    SW특기
0  이노스케  귀살대  짐승의호흡  184   40   35  50  55  25    Java
1   네즈코  귀살대     폭혈  187   40   60  70  75  80     NaN
2  코쿠시보   오니   달의호흡  202   80  100  95  85  80       C
3   도우마   오니     빙결  188   55   65  45  40  35  PYTHON
4   아카자   오니     무술  190  100   85  90  95  95      C#

In [18]:
# 지정된 갯수만큼의 row만 가져옴 
pd.read_csv("score.csv",nrows=4)

     이름   소속     기술    키  국어  영어   수학  과학  사회        SW특기
0   탄지로  귀살대   해의호흡  197  90  85  100  95  85      Python
1  이노스케  귀살대  짐승의호흡  184  40  35   50  55  25        Java
2   젠이츠  귀살대  번개의호흡  168  80  75   70  80  75  Javascript
3   네즈코  귀살대     폭혈  187  40  60   70  75  80         NaN

In [19]:
# 처음 2개 무시하고 4개를 가져옴 - nrows는 데이터의 맨 위에 있는 row를 칼럼으로 사용한다 
pd.read_csv("score.csv",skiprows=2, nrows=4)

   이노스케  귀살대  짐승의호흡  184  40   35  50  55  25        Java
0   젠이츠  귀살대  번개의호흡  168  80   75  70  80  75  Javascript
1   네즈코  귀살대     폭혈  187  40   60  70  75  80         NaN
2    무잔   오니   촉수공격  188  15   20  10  35  10         NaN
3  코쿠시보   오니   달의호흡  202  80  100  95  85  80           C

In [24]:
# 텍스트 파일 열기 - 구분자 지정
pd.read_csv("score.txt",sep="\t")

  지원번호    이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   1번   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1   2번  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   3번   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   4번   네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
4   5번    무잔   오니   촉수공격  188   15   20   10  35  10         NaN
5   6번  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   7번   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   8번   아카자   오니     무술  190  100   85   90  95  95          C#

In [25]:
# 텍스트 파일 열기 - 구분자 지정, 인덱스 칼럼 지정 
pd.read_csv("score.txt",sep="\t", index_col="지원번호")

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
5번      무잔   오니   촉수공격  188   15   20   10  35  10         NaN
6번    코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번     도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190  100   85   90  95  95          C#

In [26]:
# 엑셀 파일 열기 
pd.read_excel("score.xlsx")

  지원번호    이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
0   1번   탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
1   2번  이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
2   3번   젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
3   4번   네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
4   5번    무잔   오니   촉수공격  188   15   20   10  35  10         NaN
5   6번  코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
6   7번   도우마   오니     빙결  188   55   65   45  40  35      PYTHON
7   8번   아카자   오니     무술  190  100   85   90  95  95          C#

In [27]:
pd.read_excel("score.xlsx",index_col="지원번호")

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
5번      무잔   오니   촉수공격  188   15   20   10  35  10         NaN
6번    코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번     도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190  100   85   90  95  95          C#