# 12. 데이터 수정

In [40]:
import pandas as pd

df = pd.read_csv("./score.csv",index_col="지원번호")
df

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
5번      무잔   오니   촉수공격  188   15   20   10  35  10         NaN
6번    코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번     도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190  100   85   90  95  95          C#

### 컬럼 수정

In [41]:
df['소속'].replace({"오니":"상현"},inplace=True)

In [42]:
df.SW특기 = df.SW특기.str.lower()                       # sw 문자열을 모두 소문자로 수정
df

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
5번      무잔   상현   촉수공격  188   15   20   10  35  10         NaN
6번    코쿠시보   상현   달의호흡  202   80  100   95  85  80           c
7번     도우마   상현     빙결  188   55   65   45  40  35      python
8번     아카자   상현     무술  190  100   85   90  95  95          c#

In [43]:
df.소속 = df.소속+" 소속"                                # 소속 데이터 마다 '소속' 붙히기
df

        이름      소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대 소속   해의호흡  197   90   85  100  95  85      python
2번    이노스케  귀살대 소속  짐승의호흡  184   40   35   50  55  25        java
3번     젠이츠  귀살대 소속  번개의호흡  168   80   75   70  80  75  javascript
4번     네즈코  귀살대 소속     폭혈  187   40   60   70  75  80         NaN
5번      무잔   상현 소속   촉수공격  188   15   20   10  35  10         NaN
6번    코쿠시보   상현 소속   달의호흡  202   80  100   95  85  80           c
7번     도우마   상현 소속     빙결  188   55   65   45  40  35      python
8번     아카자   상현 소속     무술  190  100   85   90  95  95          c#

### Columns 추가

In [44]:
df['총합'] = df.loc[:,"국어":"사회"].sum(axis=1)
df

        이름      소속     기술    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번     탄지로  귀살대 소속   해의호흡  197   90   85  100  95  85      python  455
2번    이노스케  귀살대 소속  짐승의호흡  184   40   35   50  55  25        java  205
3번     젠이츠  귀살대 소속  번개의호흡  168   80   75   70  80  75  javascript  380
4번     네즈코  귀살대 소속     폭혈  187   40   60   70  75  80         NaN  325
5번      무잔   상현 소속   촉수공격  188   15   20   10  35  10         NaN   90
6번    코쿠시보   상현 소속   달의호흡  202   80  100   95  85  80           c  440
7번     도우마   상현 소속     빙결  188   55   65   45  40  35      python  240
8번     아카자   상현 소속     무술  190  100   85   90  95  95          c#  465

### 조건에 따른 데이터 추가/수정

In [45]:
# 결과 컬럼에 총합이 400이상이면 '우수' 이하면 '미흡'데이터를 추가
df['결과'] =  "미흡"
df.loc[ df['총합'] > 400, '결과' ] = "우수"
df

        이름      소속     기술    키   국어   영어   수학  과학  사회        SW특기   총합  결과
지원번호
1번     탄지로  귀살대 소속   해의호흡  197   90   85  100  95  85      python  455  우수
2번    이노스케  귀살대 소속  짐승의호흡  184   40   35   50  55  25        java  205  미흡
3번     젠이츠  귀살대 소속  번개의호흡  168   80   75   70  80  75  javascript  380  미흡
4번     네즈코  귀살대 소속     폭혈  187   40   60   70  75  80         NaN  325  미흡
5번      무잔   상현 소속   촉수공격  188   15   20   10  35  10         NaN   90  미흡
6번    코쿠시보   상현 소속   달의호흡  202   80  100   95  85  80           c  440  우수
7번     도우마   상현 소속     빙결  188   55   65   45  40  35      python  240  미흡
8번     아카자   상현 소속     무술  190  100   85   90  95  95          c#  465  우수

### Columns  삭제

In [46]:
df.drop(columns=["총합"])

        이름      소속     기술    키   국어   영어   수학  과학  사회        SW특기  결과
지원번호
1번     탄지로  귀살대 소속   해의호흡  197   90   85  100  95  85      python  우수
2번    이노스케  귀살대 소속  짐승의호흡  184   40   35   50  55  25        java  미흡
3번     젠이츠  귀살대 소속  번개의호흡  168   80   75   70  80  75  javascript  미흡
4번     네즈코  귀살대 소속     폭혈  187   40   60   70  75  80         NaN  미흡
5번      무잔   상현 소속   촉수공격  188   15   20   10  35  10         NaN  미흡
6번    코쿠시보   상현 소속   달의호흡  202   80  100   95  85  80           c  우수
7번     도우마   상현 소속     빙결  188   55   65   45  40  35      python  미흡
8번     아카자   상현 소속     무술  190  100   85   90  95  95          c#  우수

In [47]:
df.drop(columns=["국어","영어","수학"])

        이름      소속     기술    키  과학  사회        SW특기   총합  결과
지원번호
1번     탄지로  귀살대 소속   해의호흡  197  95  85      python  455  우수
2번    이노스케  귀살대 소속  짐승의호흡  184  55  25        java  205  미흡
3번     젠이츠  귀살대 소속  번개의호흡  168  80  75  javascript  380  미흡
4번     네즈코  귀살대 소속     폭혈  187  75  80         NaN  325  미흡
5번      무잔   상현 소속   촉수공격  188  35  10         NaN   90  미흡
6번    코쿠시보   상현 소속   달의호흡  202  85  80           c  440  우수
7번     도우마   상현 소속     빙결  188  40  35      python  240  미흡
8번     아카자   상현 소속     무술  190  95  95          c#  465  우수

### Row 삭제

In [48]:
df.drop(index="4번")

        이름      소속     기술    키   국어   영어   수학  과학  사회        SW특기   총합  결과
지원번호
1번     탄지로  귀살대 소속   해의호흡  197   90   85  100  95  85      python  455  우수
2번    이노스케  귀살대 소속  짐승의호흡  184   40   35   50  55  25        java  205  미흡
3번     젠이츠  귀살대 소속  번개의호흡  168   80   75   70  80  75  javascript  380  미흡
5번      무잔   상현 소속   촉수공격  188   15   20   10  35  10         NaN   90  미흡
6번    코쿠시보   상현 소속   달의호흡  202   80  100   95  85  80           c  440  우수
7번     도우마   상현 소속     빙결  188   55   65   45  40  35      python  240  미흡
8번     아카자   상현 소속     무술  190  100   85   90  95  95          c#  465  우수

In [49]:
# 수학점수가 80점 미만인 학생 데이터 삭제
con1 = df['수학']<80
print(df[con1].index)
df.drop(index=df[con1].index)

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

        이름      소속    기술    키   국어   영어   수학  과학  사회    SW특기   총합  결과
지원번호
1번     탄지로  귀살대 소속  해의호흡  197   90   85  100  95  85  python  455  우수
6번    코쿠시보   상현 소속  달의호흡  202   80  100   95  85  80       c  440  우수
8번     아카자   상현 소속    무술  190  100   85   90  95  95      c#  465  우수

### Row 추가

In [50]:
df.loc["9번"] = ["렌고쿠 쿄주로","귀살대 소속","화염의 호흡",200,90,90,90,90,90,"Kotlin",450,"우수"]
df

           이름      소속      기술    키   국어   영어   수학  과학  사회        SW특기   총합  결과
지원번호
1번        탄지로  귀살대 소속    해의호흡  197   90   85  100  95  85      python  455  우수
2번       이노스케  귀살대 소속   짐승의호흡  184   40   35   50  55  25        java  205  미흡
3번        젠이츠  귀살대 소속   번개의호흡  168   80   75   70  80  75  javascript  380  미흡
4번        네즈코  귀살대 소속      폭혈  187   40   60   70  75  80         NaN  325  미흡
5번         무잔   상현 소속    촉수공격  188   15   20   10  35  10         NaN   90  미흡
6번       코쿠시보   상현 소속    달의호흡  202   80  100   95  85  80           c  440  우수
7번        도우마   상현 소속      빙결  188   55   65   45  40  35      python  240  미흡
8번        아카자   상현 소속      무술  190  100   85   90  95  95          c#  465  우수
9번    렌고쿠 쿄주로  귀살대 소속  화염의 호흡  200   90   90   90  90  90      Kotlin  450  우수

### cell 수정

In [51]:
# 데이터 한개 수정
df.loc['4번',"SW특기"] ="Python"
df

           이름      소속      기술    키   국어   영어   수학  과학  사회        SW특기   총합  결과
지원번호
1번        탄지로  귀살대 소속    해의호흡  197   90   85  100  95  85      python  455  우수
2번       이노스케  귀살대 소속   짐승의호흡  184   40   35   50  55  25        java  205  미흡
3번        젠이츠  귀살대 소속   번개의호흡  168   80   75   70  80  75  javascript  380  미흡
4번        네즈코  귀살대 소속      폭혈  187   40   60   70  75  80      Python  325  미흡
5번         무잔   상현 소속    촉수공격  188   15   20   10  35  10         NaN   90  미흡
6번       코쿠시보   상현 소속    달의호흡  202   80  100   95  85  80           c  440  우수
7번        도우마   상현 소속      빙결  188   55   65   45  40  35      python  240  미흡
8번        아카자   상현 소속      무술  190  100   85   90  95  95          c#  465  우수
9번    렌고쿠 쿄주로  귀살대 소속  화염의 호흡  200   90   90   90  90  90      Kotlin  450  우수

In [52]:
# 데이터 여러개 수정
df.loc["5번",["소속","SW특기"]] = ["오니 대장","C++"]
df

           이름      소속      기술    키   국어   영어   수학  과학  사회        SW특기   총합  결과
지원번호
1번        탄지로  귀살대 소속    해의호흡  197   90   85  100  95  85      python  455  우수
2번       이노스케  귀살대 소속   짐승의호흡  184   40   35   50  55  25        java  205  미흡
3번        젠이츠  귀살대 소속   번개의호흡  168   80   75   70  80  75  javascript  380  미흡
4번        네즈코  귀살대 소속      폭혈  187   40   60   70  75  80      Python  325  미흡
5번         무잔   오니 대장    촉수공격  188   15   20   10  35  10         C++   90  미흡
6번       코쿠시보   상현 소속    달의호흡  202   80  100   95  85  80           c  440  우수
7번        도우마   상현 소속      빙결  188   55   65   45  40  35      python  240  미흡
8번        아카자   상현 소속      무술  190  100   85   90  95  95          c#  465  우수
9번    렌고쿠 쿄주로  귀살대 소속  화염의 호흡  200   90   90   90  90  90      Kotlin  450  우수

### Columns 순서 변경

In [53]:
cols = list(df.columns)
cols

['이름', '소속', '기술', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [54]:
df = df[ [cols[-1]] + cols[0:-1]]
df

      결과       이름      소속      기술    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    우수      탄지로  귀살대 소속    해의호흡  197   90   85  100  95  85      python  455
2번    미흡     이노스케  귀살대 소속   짐승의호흡  184   40   35   50  55  25        java  205
3번    미흡      젠이츠  귀살대 소속   번개의호흡  168   80   75   70  80  75  javascript  380
4번    미흡      네즈코  귀살대 소속      폭혈  187   40   60   70  75  80      Python  325
5번    미흡       무잔   오니 대장    촉수공격  188   15   20   10  35  10         C++   90
6번    우수     코쿠시보   상현 소속    달의호흡  202   80  100   95  85  80           c  440
7번    미흡      도우마   상현 소속      빙결  188   55   65   45  40  35      python  240
8번    우수      아카자   상현 소속      무술  190  100   85   90  95  95          c#  465
9번    우수  렌고쿠 쿄주로  귀살대 소속  화염의 호흡  200   90   90   90  90  90      Kotlin  450

In [55]:
 df = df[["결과","이름","소속"]]                    # 위에랑 같은 원리임 
 df

      결과       이름      소속
지원번호
1번    우수      탄지로  귀살대 소속
2번    미흡     이노스케  귀살대 소속
3번    미흡      젠이츠  귀살대 소속
4번    미흡      네즈코  귀살대 소속
5번    미흡       무잔   오니 대장
6번    우수     코쿠시보   상현 소속
7번    미흡      도우마   상현 소속
8번    우수      아카자   상현 소속
9번    우수  렌고쿠 쿄주로  귀살대 소속

### 컬럼 이름 변경

In [56]:
df.columns = ["Result","name","innner"]
df

     Result     name  innner
지원번호
1번       우수      탄지로  귀살대 소속
2번       미흡     이노스케  귀살대 소속
3번       미흡      젠이츠  귀살대 소속
4번       미흡      네즈코  귀살대 소속
5번       미흡       무잔   오니 대장
6번       우수     코쿠시보   상현 소속
7번       미흡      도우마   상현 소속
8번       우수      아카자   상현 소속
9번       우수  렌고쿠 쿄주로  귀살대 소속