In [10]:
import pandas as pd

df = pd.read_csv("./score.csv",index_col="지원번호")
df

        이름   소속     기술    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187   40   60   70  75  80         NaN
5번      무잔   오니   촉수공격  188   15   20   10  35  10         NaN
6번    코쿠시보   오니   달의호흡  202   80  100   95  85  80           C
7번     도우마   오니     빙결  188   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190  100   85   90  95  95          C#

# 데이터에 함수 적용 (apply)

In [11]:
# 키 뒤에 cm를 붙이는 함수
def add_cm(height):
    return str(height)+'cm'


# 키 데이터에 대해서 위에 함수를 호출한 결과 데이터를 반영함
df.키 = df.키.apply(add_cm)
df

        이름   소속     기술      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197cm   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184cm   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168cm   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187cm   40   60   70  75  80         NaN
5번      무잔   오니   촉수공격  188cm   15   20   10  35  10         NaN
6번    코쿠시보   오니   달의호흡  202cm   80  100   95  85  80           C
7번     도우마   오니     빙결  188cm   55   65   45  40  35      PYTHON
8번     아카자   오니     무술  190cm  100   85   90  95  95          C#

In [12]:
# Sw특기에서 첫글자는 대문자 나머지는 소문자로 데이터를 수정
# capitalize : str함수 중 첫글자는 대문자로 나머지는 소문자로 만드는 매서드
def capitalize(lang):
    if pd.notnull(lang):
        return lang.capitalize()        #첫 글자는 대문자로, 나머지는 소문자로
    else:
        return lang
    
df.SW특기 = df.SW특기.apply(capitalize)
df

        이름   소속     기술      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번     탄지로  귀살대   해의호흡  197cm   90   85  100  95  85      Python
2번    이노스케  귀살대  짐승의호흡  184cm   40   35   50  55  25        Java
3번     젠이츠  귀살대  번개의호흡  168cm   80   75   70  80  75  Javascript
4번     네즈코  귀살대     폭혈  187cm   40   60   70  75  80         NaN
5번      무잔   오니   촉수공격  188cm   15   20   10  35  10         NaN
6번    코쿠시보   오니   달의호흡  202cm   80  100   95  85  80           C
7번     도우마   오니     빙결  188cm   55   65   45  40  35      Python
8번     아카자   오니     무술  190cm  100   85   90  95  95          C#

In [13]:
# 소속이 '귀살대'라면 주인공, 아니면 악역으로 '역할'을 표시하라
def position(types):
    if types =="귀살대":
        return "주인공"
    else:
        return "악역"
    
df['역할'] = df['소속'].apply(position)
df

        이름   소속     기술      키   국어   영어   수학  과학  사회        SW특기   역할
지원번호
1번     탄지로  귀살대   해의호흡  197cm   90   85  100  95  85      Python  주인공
2번    이노스케  귀살대  짐승의호흡  184cm   40   35   50  55  25        Java  주인공
3번     젠이츠  귀살대  번개의호흡  168cm   80   75   70  80  75  Javascript  주인공
4번     네즈코  귀살대     폭혈  187cm   40   60   70  75  80         NaN  주인공
5번      무잔   오니   촉수공격  188cm   15   20   10  35  10         NaN   악역
6번    코쿠시보   오니   달의호흡  202cm   80  100   95  85  80           C   악역
7번     도우마   오니     빙결  188cm   55   65   45  40  35      Python   악역
8번     아카자   오니     무술  190cm  100   85   90  95  95          C#   악역